.gallery {
  /* grid-area: trailers; */
  width: 1280px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  height: auto;
}

.gallery-container {
  width: 100vw;
  height: 118vh;
  /* display: flex;
  justify-content: center; */
  margin-left: 12%;
}

/* Pagination */
.pagination-btns {
  /* position: absolute;
  bottom: -160px; */
  position: fixed;
  bottom: -10px;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination-btns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgb(107, 107, 107);
  cursor: pointer;
}

.pagination-btns {
  color: rgb(173, 173, 173);
  margin-top: 20px;
  z-index: 10;
}

.pagination-active {
  color: rgb(173, 173, 173);
  z-index: 10;
}

.next-btn {
  text-decoration: none;
  color: rgb(173, 173, 173);
  z-index: 10;
}

.previous-btn {
  text-decoration: none;
  color: rgb(173, 173, 173);
  z-index: 10;
}

.next-btn:hover {
  color: white;
}

.previous-btn:hover {
  color: white;
}

.pagination-background {
  background-color: black;
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
}
